<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">ACCOUNT DETAILS</h1>
        </div>
        
    </div>
    <div class="container">
        <div *ngIf="user" class="row">
            <div class="col-12 col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <img src="{{userImageUrl+user.image}}" alt="" class="profile-picture">
                        <h2 class="card-title text-center">{{user.firstName}} {{user.lastName}}</h2>
                        <h4 class="csrd-subtitle text-muted text-center">{{user.email}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 card mb-4">
                                <!-- <div class="card-header"> -->
                                    <h4 class="text-center">Addresses & Contacts</h4>
                                <!-- </div> -->
                                <div *ngFor="let address of user.addresses; index as i" class="card-body row">
                                    <div class="col-6 col-lg-4">
                                        <div class="card mb-3">
                                            
                                            <div class="card-body">
                                                <h6 class="text-center">Address {{i+1}}</h6>
                                                <p>
                                                    {{address.houseNumber}} <br>
                                                    {{address.firstStreet}} <br>
                                                    {{address.city}} <br>
                                                    {{address.state}} <br>
                                                    {{address.zipCode}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h6 class="text-center">Contacts</h6>
                                                <p *ngFor="let tel of user.contactNumbers "><i class="fa fa-phone"></i> {{tel}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                        <div class="row">
                            <div class="card col-12">
                                <h4 class="text-center">Card Details</h4>
                                <div class="card-body row">
                                    <div class="col-12 col-md-6">
                                        <div class="card bank-card">
                                            <div class="card-body">
                                                <h5 class="card-number">1234 1234 1234 1234</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
            </div>
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-12 card">
                        <div class="card-body">
                            <h4 class="text-center">Shortcuts</h4>
                            <a href="">My Orders</a><br>
                            <a href="">My Orders</a><br>
                            <a href="">My Orders</a><br>
                            <a href="">My Orders</a><br>
                            <a href="">My Orders</a><br>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
