.banner{
    background-image: url('../../../assets/images/background.jpg');
    height: 500px;
}
.page-title{
    text-align: right;
    padding-top: 300px;
    font-size: 60px;
}
.product-image{
    width: auto;
    height: 300px;
}