<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">PRODUCT DETAILS</h1>
        </div>
        
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div *ngIf="product" class="card">
                    
                    <div class="card-body">
                      <img class="product-image" src="{{productImageUrl+product.image}}" alt="">
                      
                    </div>

                </div>
            </div>
            <div class="coll-12 col-lg-6">
                <h2>{{product.brand}} {{product.name}}</h2>
            </div>
        </div>
        <br>
        <br>
        <div  style="overflow-x:auto;">
          <table *ngIf="product && product.varients.length>0" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" *ngFor="let attribute of product.varients[0].attributes">{{attribute.name}}</th>
                <th scope="col">Availability</th>
                <th scope="cool">Sales</th>
                <th scope="col">Price</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let varient of product.varients; index as i">
                <th scope="row">{{i+1}}</th>
                <td *ngFor="let attr of varient.attributes">{{attr.value}} </td>
                <td>{{varient.availability}} </td>
                <td>{{varient.sales}}</td>
                <td>{{varient.price}} </td>
              </tr>
              
            </tbody>
          </table>
        </div>
    </div>
</div>
