<div class="content">
    <div class="banner">
        <div class="container">
            <h1 class="page-title">MY CART</h1>
        </div>
        
    </div>
    <div class="container">
        <br>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Country</th>
              <th scope="col">Area</th>
              <th scope="col">Population</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Sri Lanka</td>
              <td>9,976,140</td>
              <td>9,976,140</td>
            </tr>
            </tbody>
          </table>
    </div>

</div>
